

SQL: MANIDEEP_DEVELOPERS_SCHEMA

1.) CUST_INTERESTED (CASE_ID(PK),EMP_ID(FK),CUST_ID(FK),QUERY,CASE_PRGRS,CRE_TS,UPDT_TS)
2.) BASIC_CUST_DATA (CUST_ID(PK), IND_FN, IND_LN, ADDRESS, EMAIL, PHONE_NO, SALARY_PM, CUST_IND_BUD, NO_OF_DEPENDENTS, NOMINEE, CUST_ADHAR, CUST_PAN, CRE_TS, UPDT_TS)
3.) PROJECTS_DATA (PRJCT_ID(PK), PRJCT_NAME, PRJCT_ADDRESS, PRJCT_STATUS, PRJCT_POSESSION, NO_OF_TOWERS, NO_OF_FLOORS, PRJCT_AREA, TOTAL_NO_OF_APTS,NO_OF_APTS_SOLD, NO_OF_APTS_AVL, DIST_FRM_ARPT, DIST_FRM_RAIL, CRE_TS, UPDT_TS)
4.) FUNDS_DATA(FUND_ID(PK),PRJCT_ID(FK),FUND_EST_TO_CMLT_PROJ,FUND_SPNT_TILL_DT, CRE_TS,UPDT_TS)
5.) PROPERTY_DATA (PRPTY_ID(PK),PRJCT_ID(FK),PRPTY_SQ_FT_AREA, TYPE_OF_BHKS,PRICE_RANGE, PRPTY_FACING, CRE_TS, UPDT_TS)
6.) CUST_EMP_DATA (EMP_ID(PK),EMP_NAME,EMP_EMAIL,NO_OF_CUST_DEALING, NO_OF_SALES, COMM_ON_SLS, CRE_TS, UPDT_TS)
7.) SALES_DATA (SALE_ID(PK),CUST_ID(FK),EMP_ID(FK), RVNUE_RCVD, RVNUE_YET_TO_COME, POSESSION_DATE_AGRD, CRE_TS, UPDT_TS)


SPRING BOOT PROJECT:
-------------------

1.) CREATE A SPRNG BOOT APP FROM SPRING.START.IO AND ADD THE FOLLOWING DEPENDENCIES LIKE SPRING DATA, SPRING BOOT DEV TOOLS, SPRING WEB,
SWAGGER-FOX, lombok AND DEPENDCIES REQUIRED ON THE FLOW

2.) ADD ONE APPLICATION PROPERTIES FILE WITH ALL OF YOUR DB CONFIGURATIONS IN IT.(THE LOCAL ORACLE DB YOU CREATE)

3.) CREATE ALL MODEL CLASSES REQUIRED FOR ALL TABLES

4.) CREATE ALL REPOSITORIES FOR ALL MODELS

5.) CREATE CONTROLLERS ONE FOR CUSTOMER, ONE FOR REFERENCE DATA INFO, ONE FOR CUST_EMP AND FUNDS

6.) IN CONTROLLER CUSTOMER, ONE POST API FOR CREATING/UPDATING CUSTOMER, ONE GET API FOR GET CUSTOMER BASED ON CUST_ID, ONE FOR FETCHING CASES INTERESTED THROUGH CUST_ID, ONE CONTROLLER FOR GETTING SALE DATA THRU CUST_ID (IF HE BOUGHT ONE PROPERTY THEN HE WILL SE ALL THOSE DATA), ONE POST API FOR CREATING/UPDATING THE CASE STATUS thru cust_id and case_id, ONE POST API FOR UPDATING/CREATING SALE DATA FOR ONE CUST_ID(WHEN HE BOUGHT PROPERTY)

7.) REFERENCE DATA CONTROLLER , ONE FOR  GET ALL PROJECTS IN DB, ONE GET API FOR GETTING ALL PROPERTIES DATA IN A PROJECT THRU PROJECT ID,
ONE POST API FOR UPDATING/CREATING PROJECTS DATA, ONE POST API FOR UPDATING/CREATING PROPERTY DATA

8.) FUNDS CONTROLLER: ONE GET API FOR GETTING THE FUNDS DATA OF PARTICULAR PROJECT THRU PROJECT_ID, ONE POST API FOR CREATING/UPDATING FUNDS INFO ONE PARTICULAR PROJECT.

